* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orange: #e38826;
    --cyan: #006970;
    --dark-cyan: #004241;
    --grey: #f2f2f2;
    --transparent-white: rgba(255, 255, 255, 0.75);
}

body{
    padding: 5.5rem 1.5rem;
}


h2 {
    font-family: 'Big Shoulders Display', sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: var(--grey);
    margin-block: 1.875rem;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.937rem;
    color: var(--transparent-white);
    margin-bottom: 1.875rem ;
}

a {
    display: block;
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
    border: 2px solid var(--grey);
    width: fit-content;
    font-size: 0.9375rem;
    padding: 0.75rem 2.5rem;
    border-radius: 1.5625rem;
    background-color: var(--grey);
}

section{
    padding: 3rem;
}

.sedans {
    background-color: var(--orange);
    border-radius: 8px 8px 0 0;
}

.sedans a{
    color: var(--orange);
}

.suvs {
    background-color: var(--cyan);
}
.suvs a {
    color: var(--cyan);
}

.luxuosos {
    background-color: var(--dark-cyan);
    border-radius: 0 0 8px 8px;
}

.luxuosos a {
    color: var(--dark-cyan);
}